@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
	font-family: 'Roboto';
}

h5 {
	color: red;
	background-color: pink;
}

h6 {
	color: yellow;
	background-color: purple;
}

p {
	color: green;
	background-color: blue;
}